venv/
.Rproj.user
_book
_bookdown_files
__pycache__/
.RData
.Rhistory
*.data
*.html
.idea
*.zip
**/images
images
**/venv
venv
.quarto


Template.log
Template.pdf
Template.tex
Template.Rmd

dairy_process.Rproj

codes_01_energy_bills/__pycache__
codes_01_energy_bills/composite curves/
codes_02_heat_recovery/venv


codes_02_heat_recovery/images
codes_02_heat_recovery/temp



/.quarto/
